body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 100vw;
    margin: 0 auto;
}
/* .wrapper{
    max-width: 1072px;
    margin: 0 auto;
} */
.header-bg{
    width: 100%;
    height: 100vh;
    background: url(/img/bg-image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 0 15px;
    /* display: none; */
}
.header-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 580px;
    margin: 0 auto;
    padding-top: 40px;
}
.header_bg-desc{
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.header-link{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    opacity: 80%;
}
.main-logo{
    width: 44px;
    height: 44px;
    opacity: 80%;
}
.main-logo:hover{
    opacity: 100%;
}
.header-link:hover{
    opacity: 100%;
    text-decoration: underline;
}
.main-webdev{
    margin: 0 auto;
    max-width: 730px;
    /* height: 75px; */
    font-size: 64px;
    font-weight: 700;
    color: white;
    line-height: 75px;
    letter-spacing: 4.5px;
}
.main-description{
    max-width: 504px;
    /* height: 50px; */
    color: white;
    margin: 20px auto 0 auto; 
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}
.main-get_started{
    margin: 30px auto 0 auto;
    width: 184px;
    height: 46px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
}
.main-get_started button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #00AFDB;
    color: white;
}
.main-get_started button:hover{
    opacity: 80%;
}
.main_bottom-links{
    display: flex;
    justify-content: space-between;
    margin: 180px auto 0 auto;
    height: 20px;
    width: 170px;
}
.main_bottom-links a:hover{
    transform: scale(1.3);
    transition: .4s;
}
.idea{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 15px;
    /* display: none; */
}
.idea-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex: 6;
}
.idea-content h2{
    max-width: 367px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
}
.idea-content p{
    max-width: 407px;
    margin-top: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}
.idea-get_started{
    width: 184px;
    height: 46px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 30px;
}
.idea-get_started button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #00AFDB;
    color: white;
}
.idea-get_started button:hover{
    opacity: 80%;
}
.idea-photo{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
.community{
    height: 60vh;
    background-color: #F5F6F7;
    display: flex;
    padding: 0 15px;
    /* display: none; */
}
.community-content{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.community-content_desc{
    max-width: 300px;
}
.community-pic{
    width: 45px;
    height: 45px;
    margin: 0 auto;
    background: url(../img/community-pic.png);
    margin-bottom: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.community h3{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2.4000000953674316px;
    text-align: center;
    margin-bottom: 10px;
}
.community p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

}
.community-slider{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
.implement{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    height: 100vh;
    padding: 0 15px;
    /* display: none; */
}
.implement-content{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
}
.implement-photo{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.implement-learn_more{
    width: 184px;
    height: 46px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 30px;
}
.implement-learn_more button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #00AFDB;
    color: white;
}
.implement-learn_more button:hover{
    opacity: 80%;
}
.implement-content h2{
    max-width: 367px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
}
.implement-content p{
    max-width: 407px;
    margin-top: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}
.form-section{
    max-width: 100%;
    height: 50vh;
    background: url(../img/form-bg2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    box-sizing: border-box;
}
.sign-up_desc{
    max-width: 380px;
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
}
.form_item{
    margin-top: 20px;
    max-width: 406px;
    height: 46px;
    display: flex;
}
.form_item-input{
    width: 340px;
    padding: 0 20px;
}
.form_item button{
    width: 66px;
    height: 46px;
    padding: 0;
    background: url(../img/btn-submit.png);
    border: none;
}
.form_item button:hover{
    opacity: 80%;
}
.download_section{
    height: 40vh;
    background-color: rgba(245, 246, 247, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.download_section h2{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    max-width: 483px;
    margin: 0 auto;
}
.download_section p{
    padding-top: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    max-width: 483px;
}
.download_links{
    margin-top: 30px;
    max-width: 406px;
    display: flex;
    justify-content: space-between;
}
.download_links a:hover{
    opacity: 80%;
    transition: .3s;
}
.footer{
    height: 10vh;
    max-width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 0 15px;
}
/* .footer_content{
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
} */
.footer-links{
    display: flex;
    width: 236px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}
.footer-links a{
    color: white;
    text-decoration: none;
    opacity: 80%;
}
.android{
    margin-left: 10px;
}
.footer-logo{
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-links a:hover, .footer-logo:hover{
    opacity: 100%;
    transition: .3s;
}
.author{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(129, 129, 129, 1);
    display: flex;
    align-items: center;
}

 @media screen and (max-width: 780px){
     .main-webdev{
         font-size: 50px;
     }
 }

 @media screen and (max-width: 640px){
    .main-webdev{
        font-size: 40px;
        text-align: center;
    }
    .download_links{
        flex-direction: column;
        margin-top: 20px;
    }
    .android{
        margin-left: 0;
        margin-top: 10px;
    }
    .download_section{
    }
    .footer-links{
        flex-direction: column;
        width: auto;
        flex: 4;
        padding: 10px 0;
    }
    .footer-logo{
        flex: 4;
    }
    .author{
        flex: 4;
    }
}


 @media screen and (max-width: 700px){
    .idea{
        flex-direction: column;
    }
    .idea-content{
        height: 30vh;
        justify-content: center;
    }
    .idea-content h2{
        margin-top: 20px;
    }
    .idea-photo{
        margin: 0;
        height: 50vh;
    }
    .idea-photo img{
        height: 50vh;
        width: 70%;
        margin-bottom: 20px;
    }
    .community{
        flex-direction: column;
    }
    .community-slider{
        margin: 0;
    }
    .community-slider img{
        width: 70%;
        margin-bottom: 10px;

    }
    .implement{
        flex-direction: column;
    }
    .implement-content{
        height: 30vh;
        justify-content: center;
        margin: 0;
    }
    .implement-content h2{
        margin-top: 20px;
    }
    .implement-photo{
        /* margin: 0; */
        height: 50vh;
    }
    .implement-photo img{
        height: 50vh;
        width: 70%;
        margin-top: 20px;
    }
    .form_item-input{
        width: 80%;
    }
}

@media screen and (max-height: 700px){
    .header-links{
        padding-top: 20px
    }
    .main-get_started{
        margin-top: 10px;
    }
    .main_bottom-links{
        margin-top: 70px;
    }

    .idea-content h2 {
        margin-top: 0;
    }
    .idea-content p {
        margin-top: 10px;
    }
    .idea-get_started{
        margin-top: 0;
    }
    .idea-photo img {
        height: 45vh;
    }
    .implement-learn_more{
        padding-top: 10px;
    }
    .download_section h2{
        margin-top: 20px;
    }
    .download_section p{
        padding-top: 10px;
    }
    .download_links{
        margin-top: 10px;
    }
    .download_links img{
        height: 40px;
    }
    .footer-links{
        padding: 5px 0;
    }
    .footer-links a{
        font-size: 9px;
        height: 13px;
    }
    .footer-logo img{
        width: 35px;
        height: 35px;
    }
}